<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/onlinelibrary?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.connection.datasource">jdbc/Library</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="onlinelibrary/entities/Author.hbm.xml"/>
    <mapping resource="onlinelibrary/entities/Book.hbm.xml"/>
    <mapping resource="onlinelibrary/entities/Genre.hbm.xml"/>
    <mapping resource="onlinelibrary/entities/Publisher.hbm.xml"/>
    <mapping resource="onlinelibrary/entities/Vote.hbm.xml"/>



  </session-factory>
</hibernate-configuration>